<a href="https://colab.research.google.com/github/cedricbansah/data-science-practice/blob/master/week4_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analyzing Data

In [ ]:
import pandas as pd

weather_df = pd.read_csv('/content/Notita/weather_2012.csv')
print('Shape: ', weather_df.shape)
print('Index: ', weather_df.index)

Shape:  (8784, 8)
Index:  RangeIndex(start=0, stop=8784, step=1)

In [ ]:
weather_df['Date/Time'].head()

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [ ]:
weather_df['Date/Time'] = pd.to_datetime(weather_df['Date/Time'])
weather_df['Date/Time'].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

In [ ]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [ ]:
weather_df.head(6)

            Date/Time  Temp (C)  ...  Stn Press (kPa)               Weather
0 2012-01-01 00:00:00      -1.8  ...           101.24                   Fog
1 2012-01-01 01:00:00      -1.8  ...           101.24                   Fog
2 2012-01-01 02:00:00      -1.8  ...           101.26  Freezing Drizzle,Fog
3 2012-01-01 03:00:00      -1.5  ...           101.27  Freezing Drizzle,Fog
4 2012-01-01 04:00:00      -1.5  ...           101.23                   Fog
5 2012-01-01 05:00:00      -1.4  ...           101.27                   Fog

[6 rows x 8 columns]

In [ ]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [ ]:
weather_df['Rel Hum (%)'].unique()

array([ 86,  87,  89,  88,  85,  91,  82,  81,  84,  79,  77,  72,  71,
        69,  70,  68,  67,  66,  56,  57,  59,  55,  54,  58,  65,  53,
        60,  61,  63,  52,  50,  49,  62,  51,  75,  73,  80,  83,  76,
        64,  74,  78,  47,  90,  48,  45,  46,  92,  93,  42,  43,  40,
        39,  44,  94,  37,  41,  38,  96,  98,  99,  97,  95, 100,  29,
        28,  27,  19,  20,  18,  25,  26,  30,  24,  34,  33,  31,  32,
        35,  36,  21,  22,  23])

In [ ]:
weather_df['Rel Hum (%)'].describe()

count    8784.000000
mean       67.431694
std        16.918881
min        18.000000
25%        56.000000
50%        68.000000
75%        81.000000
max       100.000000
Name: Rel Hum (%), dtype: float64

In [ ]:
weather_df['Wind Spd (km/h)'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

In [ ]:
weather_df['Wind Spd (km/h)'].describe()

count    8784.000000
mean       14.945469
std         8.688696
min         0.000000
25%         9.000000
50%        13.000000
75%        20.000000
max        83.000000
Name: Wind Spd (km/h), dtype: float64

In [ ]:
weather_df['Stn Press (kPa)'].nunique()

518

In [ ]:
weather_df['Wind Spd (km/h)'].nunique()

34

In [ ]:
weather_df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Snow Showers,Fog                              4
Moderate Snow                                 4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain                            3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Moderate Snow,Blowing Snow                    2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Rain,Snow,Fog                                 1
Rain,Snow Grains                              1
Rain,Ice Pellets                              1
Snow Pellets                                  1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Moderate Rain,Fog                             1
Freezing Rain,Snow Grains                     1
Thunderstorms,Rain,Fog                        1
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Name: Weather, dtype: int64

In [ ]:
weather_df['Weather'].value_counts()['Clear']

1326

In [ ]:
weather_df['Wind Spd (km/h)']. value_counts()[4]

474

#Selection

In [ ]:
weather_df[['Weather','Date/Time','Temp (C)']].head()

                Weather           Date/Time  Temp (C)
0                   Fog 2012-01-01 00:00:00      -1.8
1                   Fog 2012-01-01 01:00:00      -1.8
2  Freezing Drizzle,Fog 2012-01-01 02:00:00      -1.8
3  Freezing Drizzle,Fog 2012-01-01 03:00:00      -1.5
4                   Fog 2012-01-01 04:00:00      -1.5

In [ ]:
#displaying first 25 rows 

weather_df[:25]

             Date/Time  Temp (C)  ...  Stn Press (kPa)               Weather
0  2012-01-01 00:00:00      -1.8  ...           101.24                   Fog
1  2012-01-01 01:00:00      -1.8  ...           101.24                   Fog
2  2012-01-01 02:00:00      -1.8  ...           101.26  Freezing Drizzle,Fog
3  2012-01-01 03:00:00      -1.5  ...           101.27  Freezing Drizzle,Fog
4  2012-01-01 04:00:00      -1.5  ...           101.23                   Fog
5  2012-01-01 05:00:00      -1.4  ...           101.27                   Fog
6  2012-01-01 06:00:00      -1.5  ...           101.29                   Fog
7  2012-01-01 07:00:00      -1.4  ...           101.26                   Fog
8  2012-01-01 08:00:00      -1.4  ...           101.23                   Fog
9  2012-01-01 09:00:00      -1.3  ...           101.20                   Fog
10 2012-01-01 10:00:00      -1.0  ...           101.15                   Fog
11 2012-01-01 11:00:00      -0.5  ...           100.98                   Fog
12 2012-01-01 12:00:00      -0.2  ...           100.79                   Fog
13 2012-01-01 13:00:00       0.2  ...           100.58                   Fog
14 2012-01-01 14:00:00       0.8  ...           100.31                   Fog
15 2012-01-01 15:00:00       1.8  ...           100.07                   Fog
16 2012-01-01 16:00:00       2.6  ...            99.93         Mostly Cloudy
17 2012-01-01 17:00:00       3.0  ...            99.81                Cloudy
18 2012-01-01 18:00:00       3.8  ...            99.74                  Rain
19 2012-01-01 19:00:00       3.1  ...            99.68                  Rain
20 2012-01-01 20:00:00       3.2  ...            99.50                Cloudy
21 2012-01-01 21:00:00       4.0  ...            99.39                Cloudy
22 2012-01-01 22:00:00       4.4  ...            99.32          Rain Showers
23 2012-01-01 23:00:00       5.3  ...            99.31                Cloudy
24 2012-01-02 00:00:00       5.2  ...            99.26          Rain Showers

[25 rows x 8 columns]

first three alternating rows but only for "Visibility" and "Relative Humidity"

In [ ]:
#using slicing
weather_df[:6:2][['Rel Hum (%)','Visibility (km)']]

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

In [ ]:
#using iloc
weather_df[['Rel Hum (%)','Visibility (km)']].iloc[:6:2]

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

#Filtering

In [ ]:
#Filtering out records that have the word 'snow' 

snow_filter = weather_df['Weather'].str.lower().str.contains('snow')
weather_df[snow_filter]

               Date/Time  Temp (C)  ...  Stn Press (kPa)       Weather
41   2012-01-02 17:00:00      -2.1  ...            99.66  Snow Showers
44   2012-01-02 20:00:00      -5.6  ...           100.07  Snow Showers
45   2012-01-02 21:00:00      -5.8  ...           100.15  Snow Showers
47   2012-01-02 23:00:00      -7.4  ...           100.27  Snow Showers
48   2012-01-03 00:00:00      -9.0  ...           100.35  Snow Showers
...                  ...       ...  ...              ...           ...
8779 2012-12-31 19:00:00       0.1  ...           100.13          Snow
8780 2012-12-31 20:00:00       0.2  ...           100.03          Snow
8781 2012-12-31 21:00:00      -0.5  ...            99.95          Snow
8782 2012-12-31 22:00:00      -0.2  ...            99.91          Snow
8783 2012-12-31 23:00:00       0.0  ...            99.89          Snow

[583 rows x 8 columns]

In [ ]:
#Find all instances when wind speed was above 24 and visibility was 25
w24v25 = weather_df[(weather_df['Wind Spd (km/h)'] > 24) & (weather_df['Visibility (km)']== 25)]
w24v25.head()

             Date/Time  Temp (C)  ...  Stn Press (kPa)        Weather
23 2012-01-01 23:00:00       5.3  ...            99.31         Cloudy
24 2012-01-02 00:00:00       5.2  ...            99.26   Rain Showers
25 2012-01-02 01:00:00       4.6  ...            99.26         Cloudy
26 2012-01-02 02:00:00       3.9  ...            99.26  Mostly Cloudy
27 2012-01-02 03:00:00       3.7  ...            99.30  Mostly Cloudy

[5 rows x 8 columns]

#Working with Series/Columns

Operations on Columns

In [ ]:
#Add 10 to the values in the 'Wind Spd (km/h) using the "+" operator 

add_10 = weather_df['Wind Spd (km/h)'] + 10 
add_10.head(10)

0    14
1    14
2    17
3    16
4    17
5    19
6    17
7    17
8    19
9    25
Name: Wind Spd (km/h), dtype: int64

In [ ]:
#Multiply the values in "Visibility (km)" by 5 using the "*" operator

multiply_10 = weather_df['Visibility (km)'] * 5
multiply_10.head(10)

0    40.0
1    40.0
2    20.0
3    20.0
4    24.0
5    32.0
6    32.0
7    40.0
8    40.0
9    20.0
Name: Visibility (km), dtype: float64

Adding columns

In [ ]:
#Add the Dew Point Temp column to the Temp column 

temperature = weather_df['Dew Point Temp (C)'] + weather_df['Temp (C)']
temperature.head(10)

0   -5.7
1   -5.5
2   -5.2
3   -4.7
4   -4.8
5   -4.7
6   -4.6
7   -5.0
8   -5.0
9   -4.4
dtype: float64

Applying/Calling Functions

In [ ]:
def times_ten(value):
  return value*10
t10temp = weather_df['Temp (C)'].apply(times_ten)
t10temp

0      -18.0
1      -18.0
2      -18.0
3      -15.0
4      -15.0
        ...
8779     1.0
8780     2.0
8781    -5.0
8782    -2.0
8783     0.0
Name: Temp (C), Length: 8784, dtype: float64

Creating New Columns

In [ ]:
Visibility_in_meter = weather_df['Visibility (km)'] *1000
weather_df['Visibility (m)'] = Visibility_in_meter
weather_df.head()

             Date/Time  Temp (C)  ...               Weather  Visibility (m)
0  2012-01-01 00:00:00      -1.8  ...                   Fog          8000.0
1  2012-01-01 01:00:00      -1.8  ...                   Fog          8000.0
2  2012-01-01 02:00:00      -1.8  ...  Freezing Drizzle,Fog          4000.0
3  2012-01-01 03:00:00      -1.5  ...  Freezing Drizzle,Fog          4000.0
4  2012-01-01 04:00:00      -1.5  ...                   Fog          4800.0

[5 rows x 9 columns]

In [ ]:
#reordering the columns so Visibility in km and Visibility in m are side by side 

newcol = ['Date/Time',	'Temp (C)',	'Dew Point Temp (C)',	'Rel Hum (%)',	'Wind Spd (km/h)',	'Visibility (km)',	'Visibility (m)', 'Stn Press (kPa)',	'Weather']
newdf = weather_df.reindex(columns=newcol)
newdf

                Date/Time  Temp (C)  ...  Stn Press (kPa)               Weather
0     2012-01-01 00:00:00      -1.8  ...           101.24                   Fog
1     2012-01-01 01:00:00      -1.8  ...           101.24                   Fog
2     2012-01-01 02:00:00      -1.8  ...           101.26  Freezing Drizzle,Fog
3     2012-01-01 03:00:00      -1.5  ...           101.27  Freezing Drizzle,Fog
4     2012-01-01 04:00:00      -1.5  ...           101.23                   Fog
...                   ...       ...  ...              ...                   ...
8779  2012-12-31 19:00:00       0.1  ...           100.13                  Snow
8780  2012-12-31 20:00:00       0.2  ...           100.03                  Snow
8781  2012-12-31 21:00:00      -0.5  ...            99.95                  Snow
8782  2012-12-31 22:00:00      -0.2  ...            99.91                  Snow
8783  2012-12-31 23:00:00       0.0  ...            99.89                  Snow

[8784 rows x 9 columns]

Renaming columns

In [ ]:
#renaming a column
newdf.rename(columns={'Wind Spd (km/h)': 'Wind Speed (km/h)'}, inplace = True)
newdf.head()

             Date/Time  Temp (C)  ...  Stn Press (kPa)               Weather
0  2012-01-01 00:00:00      -1.8  ...           101.24                   Fog
1  2012-01-01 01:00:00      -1.8  ...           101.24                   Fog
2  2012-01-01 02:00:00      -1.8  ...           101.26  Freezing Drizzle,Fog
3  2012-01-01 03:00:00      -1.5  ...           101.27  Freezing Drizzle,Fog
4  2012-01-01 04:00:00      -1.5  ...           101.23                   Fog

[5 rows x 9 columns]

Deleting columns

In [ ]:
weather_df.drop(labels=['Visibility (m)'],axis=1).head()

             Date/Time  Temp (C)  ...  Stn Press (kPa)               Weather
0  2012-01-01 00:00:00      -1.8  ...           101.24                   Fog
1  2012-01-01 01:00:00      -1.8  ...           101.24                   Fog
2  2012-01-01 02:00:00      -1.8  ...           101.26  Freezing Drizzle,Fog
3  2012-01-01 03:00:00      -1.5  ...           101.27  Freezing Drizzle,Fog
4  2012-01-01 04:00:00      -1.5  ...           101.23                   Fog

[5 rows x 8 columns]

Sorting

In [ ]:
sorted_by_temp = weather_df.sort_values(['Temp (C)'],ascending=False)
sorted_by_temp.head()

                Date/Time  Temp (C)  ...       Weather  Visibility (m)
4695  2012-07-14 15:00:00      33.0  ...  Mainly Clear         48300.0
4143  2012-06-21 15:00:00      33.0  ...  Mainly Clear         24100.0
4696  2012-07-14 16:00:00      32.9  ...  Mainly Clear         48300.0
5199  2012-08-04 15:00:00      32.8  ...         Clear         24100.0
4694  2012-07-14 14:00:00      32.7  ...  Mainly Clear         48300.0

[5 rows x 9 columns]

In [ ]:
#finding the top 10 hottest loccation

sorted_by_temp.head(10)

                Date/Time  Temp (C)  ...       Weather  Visibility (m)
4695  2012-07-14 15:00:00      33.0  ...  Mainly Clear         48300.0
4143  2012-06-21 15:00:00      33.0  ...  Mainly Clear         24100.0
4696  2012-07-14 16:00:00      32.9  ...  Mainly Clear         48300.0
5199  2012-08-04 15:00:00      32.8  ...         Clear         24100.0
4694  2012-07-14 14:00:00      32.7  ...  Mainly Clear         48300.0
4142  2012-06-21 14:00:00      32.6  ...  Mainly Clear         24100.0
5201  2012-08-04 17:00:00      32.5  ...         Clear         24100.0
5200  2012-08-04 16:00:00      32.5  ...         Clear         24100.0
4697  2012-07-14 17:00:00      32.5  ...  Mainly Clear         48300.0
4144  2012-06-21 16:00:00      32.5  ...  Mainly Clear         24100.0

[10 rows x 9 columns]

In [ ]:
#top 10 alternative

sorted_by_temp.iloc[:10]

                Date/Time  Temp (C)  ...       Weather  Visibility (m)
4695  2012-07-14 15:00:00      33.0  ...  Mainly Clear         48300.0
4143  2012-06-21 15:00:00      33.0  ...  Mainly Clear         24100.0
4696  2012-07-14 16:00:00      32.9  ...  Mainly Clear         48300.0
5199  2012-08-04 15:00:00      32.8  ...         Clear         24100.0
4694  2012-07-14 14:00:00      32.7  ...  Mainly Clear         48300.0
4142  2012-06-21 14:00:00      32.6  ...  Mainly Clear         24100.0
5201  2012-08-04 17:00:00      32.5  ...         Clear         24100.0
5200  2012-08-04 16:00:00      32.5  ...         Clear         24100.0
4697  2012-07-14 17:00:00      32.5  ...  Mainly Clear         48300.0
4144  2012-06-21 16:00:00      32.5  ...  Mainly Clear         24100.0

[10 rows x 9 columns]

In [ ]:
#top 10 warmest counts

sorted_by_temp['Temp (C)'].value_counts().sort_values(ascending=False).head()

16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
Name: Temp (C), dtype: int64

Mean temperature recorded by month

In [ ]:
mean_temp = {}
for month in range(1,13):
  mean_temp[month] = weather_df.loc[weather_df['Date/Time'].dt.month == month, 'Temp (C)'].mean()
pd.Series(mean_temp)

1     -7.371505
2     -4.225000
3      3.121237
4      7.009306
5     16.237769
6     20.134028
7     22.790054
8     22.279301
9     16.484444
10    10.954973
11     0.931389
12    -3.306317
dtype: float64

#Pivot Tables

In [ ]:
data = {
    'A': ['foo','foo','foo','bar','bar','bar'],
    'B': ['one','one','two','two','one','one'],
    'C': ['x','y','x','y','x','y'],
    'D': [1, 3, 2, 5, 4, 1]
}
df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [ ]:
dfpivot = df.pivot_table(
    values='D',
    index='A',
    columns='C',
    aggfunc='sum'
)
dfpivot

C    x  y
A
bar  4  6
foo  3  3

In [112]:
mean_temp_df = weather_df.pivot_table(values='Temp (C)',index=weather_df['Date/Time'].dt.month, aggfunc='mean')
mean_temp_df

            Temp (C)
Date/Time
1          -7.371505
2          -4.225000
3           3.121237
4           7.009306
5          16.237769
6          20.134028
7          22.790054
8          22.279301
9          16.484444
10         10.954973
11          0.931389
12         -3.306317

#Group By

In [115]:
#Grouping data by the mean of all values in chronological order

import numpy as np

mean_temp_df2 = weather_df.groupby(weather_df['Date/Time'].dt.month).agg(np.mean).reset_index()
mean_temp_df2

    Date/Time   Temp (C)  ...  Stn Press (kPa)  Visibility (m)
0           1  -7.371505  ...       101.005349    22100.268817
1           2  -4.225000  ...       101.142414    25182.183908
2           3   3.121237  ...       101.335255    26177.956989
3           4   7.009306  ...       100.716833    31777.083333
4           5  16.237769  ...       101.057164    29418.548387
5           6  20.134028  ...       100.784222    32104.166667
6           7  22.790054  ...       100.828333    33655.107527
7           8  22.279301  ...       100.927097    30192.607527
8           9  16.484444  ...       101.087903    30603.472222
9          10  10.954973  ...       100.909368    25111.021505
10         11   0.931389  ...       101.658306    26077.083333
11         12  -3.306317  ...       101.174409    19733.198925

[12 rows x 8 columns]